body{
    background: linear-gradient(to right top, #DE6262, #FFB88C);
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

.container{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-content:center ;

}
.content{

}
.main{
    font-size: large;
}
input{
    border:none;
    margin-top: 6px;
    margin-bottom: 10px;
}
button[type=submit]{
    padding:5px 25px 5px 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.223);
    color:#fff
}
button[type=submit]:hover{
    background-color: #fff;
    color:#DE6262
}
h1{
    font-family: 'Mali', cursive;
    padding-bottom: 30px;
}
form{
    margin-bottom:100px
}


th{
    background-color: rgba(255, 255, 255, 0.233);
    color: #fff;
    width:50px;
    padding:7px 10px 7px 10px;

}
td{
    padding:7px 10px 7px 10px;
}


@media screen and (max-width: 450px) {

    h1{
        padding-top: 50px
    }
    .container{
        display:block;
    }
    table{
        width:90%
    }
    th, td{
        padding:5px 10px 5px 10px;
    }
}